.comment-button {
    color: #3D5A80;
}
.comment-button:hover {
	text-decoration: underline;
}

.pop-up-window {
    visibility: hidden;
    opacity: 0;
    border-radius: 2rem;
	margin: 1rem;
	padding: 1rem;
    position: fixed;
    left: 40%;
    bottom: 25%;

    transition: opacity 0.5s;
}

.pop-up-window.active {
    visibility: visible;
    opacity: 100%;
}

.pop-up-window_comments {
    background-color: #ffffff;
}

.preloader {
    width: 15rem;
}