.comment-button {
    color: #3D5A80;
}
.comment-button:hover {
	text-decoration: underline;
}

.pop-up-window {
    visibility: hidden;
    opacity: 0;
    border-radius: 2rem;
	margin: 1rem;
	padding: 1rem;
    position: fixed;
    left: 25%;
    bottom: 15%;

    width: 50%;
    height: 70%;

    overflow-y:auto;

    transition: opacity 0.5s;
}

.pop-up-window.active {
    visibility: visible;
    opacity: 100%;
}

.pop-up-window_comments {
    background-color: #ffffff;
}

.preloader {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width: 15rem;
    display: none;
}

.preloader.active {
    display: block;
}



.comment-element {
    font-variant: normal;
    width: 100%;
    outline-style: solid;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    outline-width: 1px;
    outline-color: #3d5a8048;
}

.commenter-name {
    font-size: 100%;
    margin-right: 1rem;
}

.commenter-mail {
    font-size: 90%;
    color: #3D5A80;
}

.comment-text {
    display:inline-block;
    font-size: 100%;
    width: 100%;
}